<% if @recipe.errors.any? %>
  <p>Não foi possível salvar a receita</p>
  <ul>
  <% @recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with model: recipe, local: true, class: "form-group" do |f| %>
  <div class="form-group">
  <%= f.label :title, 'Título' %>
  <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :recipe_type_id, 'Tipo da Receita' %>
    <%= f.collection_select :recipe_type_id, @recipetypes, :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :cuisine_id, 'Cozinha' %>
    <%= f.collection_select :cuisine_id, @cuisines, :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :difficulty, 'Dificuldade' %>
    <%= f.text_field :difficulty, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <%= f.number_field :cook_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ingredients, 'Ingredientes' %>
    <%= f.text_area :ingredients, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cook_method, 'Como Preparar' %>
    <%= f.text_area :cook_method, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :picture, 'Foto' %>
    <%= f.file_field :picture, class: "form-control"  %>
  </div>
  <%= f.submit 'Enviar', class: "mt-2 form-control btn btn-primary"  %>
<% end %>