<div class="text-center">
  <h1>CookBook</h1>
  <p>Bem-vindo ao maior livro de receitas online</p>
</div>
<div class="row mx-auto text-center justify-content-center">
  <%= form_with(url: search_recipes_path, method: "get", local: true) do %>
    <%= label_tag(:q, "Pesquisar receitas:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Pesquisar") %>
  <% end %>
</div>

<div class="row mt-3">
  <div class="col-sm-3">
    <h3>Tipo</h3>
    <% @recipe_types.each do |recipe_type| %>
      <ul>
        <li><%= link_to recipe_type.name, recipe_type %></li>
      </ul>
    <% end %>
    <!--
    <select onchange="location = this.value;" id="recipe-type">
      <option disabled selected value> -- selecione -- </option>
      <% @recipe_types.each do |recipe_type| %>
      <option value="recipe_types/<%= recipe_type.id %>"><%= recipe_type.name %></option>
      <% end %>
    </select>
    -->
    <h3>Cozinha</h3>
    <% @cuisines.each do |cuisine| %>
      <ul>
        <li><%= link_to cuisine.name, cuisine %></li>
      </ul>
    <% end %>
  </div>
  <!--
  <h3>Filtrar por Cozinha:</h3>
  <select onchange="location = this.value;" id="cuisine">
  <option disabled selected value> -- selecione -- </option>
  <% @cuisines.each do |cuisine| %>
    <option value="cuisines/<%= cuisine.id %>"><%= cuisine.name %></option>
  <% end %>
  </select>
  -->
  <div class="col-sm-9">
  <div class="card-deck">
    <%= render partial: 'shared/recipe', collection: @recipes %>
  </div>


