<div class="row">
  <div class="col-sm-6">
    <h1><%= @recipe.title %></h1>
    <h3>Detalhes</h3>
    <p>Tipo de Receita: <%=  @recipe.recipe_type.name %></p>
    <p>Cozinha: <%=  @recipe.cuisine.name %></p>
    <p>Dificuldade: <%=  @recipe.difficulty %></p>
    <p>Tempo de Preparo: <%=  @recipe.cook_time_min %></p>
  </div>
  <div class="col-sm-6">
    <%= image_tag @recipe.picture, style: "max-width: 100%" if @recipe.picture.attached? %>
  </div>
</div>
  <div class="row">
  <div class="col-sm-6">
    <h3>Ingredientes</h3>
    <p><%=  @recipe.ingredients %></p>
  </div>
  <div class="col-sm-6">
    <h3>Como Preparar</h3>
    <p><%=  @recipe.cook_method %></p>
    <p>Receita enviada por <%= @recipe.user.email %></p>
  </div>
</div>
<%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>

<% if user_signed_in? && @recipe.user == current_user  %>
  <%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-info' %>
<% end %>

<% if user_signed_in? %>
  <h3>Adicionar receita à lista:</h3>
  <%= form_with model: [@recipe, @recipe_list_item], local: true do |f| %>
  <%= f.label :recipe_list_id, 'Minhas listas de receitas' %>
  <%= f.collection_select :recipe_list_id, @recipe_lists, :id, :name,  {}, {class: "form-control"} %>
  <%= f.submit 'Adicionar' %>
  <% end %>

  <h3>Listas em que essa receita está cadastrada:</h3>
  <ul>
  <% @recipe.recipe_lists.each do |recipe_list| %>
    <li class="list-name"><%= recipe_list.name %></li>
  <% end %>
  </ul>
<% end %>
