<%= image_tag @recipe.picture if @recipe.picture.attached? %>
<h1><%= @recipe.title %></h1>
<h3>Detalhes</h3>
<p>Tipo de Receita: <%=  @recipe.recipe_type.name %></p>
<p>Cozinha: <%=  @recipe.cuisine.name %></p>
<p>Dificuldade: <%=  @recipe.difficulty %></p>
<p>Tempo de Preparo: <%=  @recipe.cook_time_min %></p>
<h3>Ingredientes</h3>
<p><%=  @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%=  @recipe.cook_method %></p>
<p>Receita enviada por <%= @recipe.user.email %></p>
<%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>

<% if user_signed_in? && @recipe.user == current_user  %>
  <%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-info' %>
<% end %>

<% if user_signed_in? %>
  <h3>Adicionar receita à lista:</h3>
  <ul>
    <% current_user.recipe_lists.each do |recipe_list| %>
      <li><%= link_to recipe_list.name, add_recipe_recipe_recipe_list_path(@recipe, recipe_list), method: :post %></li>
    <% end %>
  </ul>

  <h3>Listas em que essa receita está cadastrada:</h3>
  <ul>

  <% @recipe.recipe_lists.each do |recipe_list| %>
    <li class="list-name"><%= recipe_list.name %></li>
  <% end %>
  </ul>
<% end %>
