<div>
  <%= image_tag recipe.picture if recipe.picture.attached? %>
  <h1><%= link_to recipe.title, recipe %></h1>
  <p><strong>Tipo de Receita:</strong> <%=recipe.recipe_type.name %></p>
  <p><strong>Cozinha:</strong> <%=recipe.cuisine.name %></p>
  <p><strong>Dificuldade:</strong> <%=recipe.difficulty %></p>
  <p><strong>Tempo de preparo:</strong> <%=recipe.cook_time_min %></p>
</div>
