<h1><%= link_to recipe.title, recipe %></h1>
<%= image_tag recipe.picture if recipe.picture.attached? %>
<li>Tipo de Receita: <%=recipe.recipe_type.name %></li>
<li>Cozinha: <%=recipe.cuisine.name %></li>
<li>Dificuldade: <%=recipe.difficulty %></li>
<li>Tempo de preparo: <%=recipe.cook_time_min %></li>
