<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Cookbook Revelo</title>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <%= render 'shared/navbar' %>
      </header>
      <%= flash[:warning] %>
      <%= notice %>
      <%= alert %>
      <div class="container my-3">
        <%= yield %>
      </div>
      <footer class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
